.homepage-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.homepage-play-light {
  color: rgba(255, 255, 255, 0.9) !important;
}
.homepage-play-dark {
  color: rgba(255, 255, 255, 0.7) !important;
}
.homepage-play-icon {
  margin-left: 0.7rem;

  -webkit-animation: playBtnFadeIn 1s;
  -moz-animation: playBtnFadeIn 1s;
  animation: playBtnFadeIn 1s;
}

.homepage-bg-light {
  background: linear-gradient(270deg, #00fff6, #2076b0);
}
.homepage-bg-dark {
  background: linear-gradient(270deg, #1a33c1, #a220b0);
}

.homepage-bg {
  position: absolute;
  top: 25vh;
  width: 100%;
  height: 47vh;
  z-index: -1;
  transform: skewY(-10deg);

  background-size: 200% 200%;
  background-repeat: no-repeat;
}

.homepage-bg-reveal {
  -webkit-animation: bannerReveal 1s ease-out;
  -moz-animation: bannerReveal 1s ease-out;
  animation: bannerReveal 1s ease-out;
}

.homepage-bg-animate {
  -webkit-animation: animateBannerBg 30s ease infinite;
  -moz-animation: animateBannerBg 30s ease infinite;
  animation: animateBannerBg 30s ease infinite;
}

@-webkit-keyframes bannerReveal {
  0% {
    background-size: 0% 200%;
  }
  20% {
    background-size: 0% 200%;
  }
  100% {
    background-size: 200% 200%;
  }
}
@-moz-keyframes bannerReveal {
  0% {
    background-size: 0% 200%;
  }
  20% {
    background-size: 0% 200%;
  }
  100% {
    background-size: 200% 200%;
  }
}
@keyframes bannerReveal {
  0% {
    background-size: 0% 200%;
  }
  20% {
    background-size: 0% 200%;
  }
  100% {
    background-size: 200% 200%;
  }
}

@-webkit-keyframes animateBannerBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes animateBannerBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animateBannerBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes playBtnFadeIn {
  0% {
    opacity: 0;
    margin-left: -0.3rem;
  }
  50% {
    opacity: 0;
    margin-left: -0.3rem;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes playBtnFadeIn {
  0% {
    opacity: 0;
    margin-left: -0.3rem;
  }
  50% {
    opacity: 0;
    margin-left: -0.3rem;
  }
  100% {
    opacity: 1;
  }
}
@keyframes playBtnFadeIn {
  0% {
    opacity: 0;
    margin-left: -0.3rem;
  }
  50% {
    opacity: 0;
    margin-left: -0.3rem;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 720px) {
  .homepage-play-icon {
    margin-left: 0.4rem;
  }
}

@media (max-height: 450px) {
  .homepage-container {
    top: 60%;
  }
  .homepage-bg {
    height: 65vh;
  }
}
