$page-background-color-light: #ffffff;
$page-background-color-dark: #2a2a2e;

$primary-color-light: #303f9f;
$secondary-color-light: #6c757d;
$header-color-light: #f5f5f5;
$text-theme-light: #425466;
$text-theme-header-light: #000000;

$primary-color-dark: #546e7a;
$secondary-color-dark: #484848;
$header-color-dark: #1b1e1f;
$text-theme-dark: #d1cdc7;
$text-theme-header-dark: #eeeeee;

$overlay-tooltip-color: #757575;
