.lobby-link-copied-text {
  -webkit-animation: textFadeIn 0.2s;
  -moz-animation: textFadeIn 0.2s;
  animation: textFadeIn 0.2s;
}

@-webkit-keyframes textFadeIn {
  from {
    margin-top: -15px;
  }
}
@-moz-keyframes textFadeIn {
  from {
    margin-top: -15px;
  }
}
@keyframes textFadeIn {
  from {
    margin-top: -15px;
  }
}
